<nav>
  <div class="nav-link-container-left">
    <div>
      GHI
    </div>
    <div class="nav-search-bar">
      Search GitHub
    </div>
    <div>
      Pull requests
    </div>
    <div>
      Issues
    </div>
    <div>
      Marketplace
    </div>
    <div>
      Explore
    </div>
  </div>
  <div class="nav-link-container-right">
    <div>
      Bell
    </div>
    <div>
      Plus
    </div>
    <div>
      <%= link_to "logout", logout_path, method: :delete %>
    </div>
  </div>
</nav>

<div class="main-body">
  <section class="pic-info-column">
    <div class="profile-pic-container">
      <%= image_tag current_user.avatar_url, class: "profile-pic" %>
    </div>

    <div class="profile-info">
      <div class="profile-info-name">
        <%= current_user.name %><br>
      </div>
      <div class="profile-info-username">
        <%= current_user.login %><br>
      </div>
      <div class="profile-info-bio">
        <%= current_user.bio %>
      </div>
      <div class="profile-info-location">
        <%= current_user.location %>
      </div>
      <div class="profile-info-email">
        <%= current_user.email %>
      </div>
    </div>
  </section>

  <main class="repo-stats-column">
    <div class="repo-stats-header">
      <div class="repo-stats-link-container">
        <div>
          Overview
        </div>
        <div>
          Repositories
        </div>
        <div>
          Stars (<%= @starred.count %>)
        </div>
        <div>
          Followers (<%= @followers.count %>)
        </div>
        <div>
          Following (<%= @following.count %>)
        </div>
      </div>
    </div>

    <div class="pinned-repositories">
      <div>
        Pinned Repositories
      </div>
      <div>
        Customize your pinned repositories
      </div>
    </div>

    <div class="repo-grid">
      <% @repos.each do |repo| %>
        <%= repo.name %>
      <% end %>
    </div>

    <div class="recent-commits">
      <p>Contribution Activity - Recent Commits</p>
      <% @recent_commits.each do |commit| %>
        <div class="commit-name">
          <%= commit.name %>
        </div>

        <div class="commit-url">
          <%= commit.url %>
        </div>
      <% end %>
    </div>
  </main>

  <footer class="footer">

  </footer>
</div>
